<html lang="ko"><head>
  
  <title>싸게샵 - 안심 USIM 데이터 3.5</title>
  <meta charset="utf-8">

  <meta property="og:title" content="쌰게샵 - 안심 USIM 데이터 3.5">
  <meta property="og:image" content="https://ssagae.shop/preview/182.jpg">
  <meta property="og:description" content="알뜰폰 요금제 검색 사이트 싸게샵에서 제공하는 요금제 정보입니다
  안심모바일 의 요금제 안심 USIM 데이터 3.5 로 매월 34,650 입니다.
  안심모바일 LTE SKT
  통화:-1 문자:-1 데이터:3.5  
  추천 항목 : skt 요금제, kt 요금제, lg 요금제, 알뜰폰 요금제, 알뜰 요금제 비교, 요금제 변경. 폰 요금제, 데이터 무제한 요금제, lte 요금제">
  <meta property="og:url" content="https://ssagae.shop/detail/182">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-130483453-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-130483453-4');
  </script>




  <link rel="stylesheet" href="/static/libs/bootstrap/4.1.3/css/bootstrap.min.css">
  <link href="/static/libs/fontawesome/css/all.css" rel="stylesheet">

  <script src="/static/libs/jquery/3.2.1/jquery-3.2.1.min.js"></script>
  <script src="/static/libs/popper.js/1.12.3/umd/popper.min.js"></script>
  <script src="/static/libs/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

  <script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
  <script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>

  <!-- feathericons -->
  <script src="/static/libs/feather-icons/feather.min.js"></script>
  <!-- vue.js -->
  <script src="/static/libs/vue/2.6.11/dist/vue.js"></script>
  <!-- csv -->
  <script src="/static/libs/jquery-csv/0.8.9/jquery.csv.js"></script>
  <!-- cookie -->
  <script src="/static/libs/js-cookie%402/src/js.cookie.min.js"></script>
  <style>
    .sns-go {text-align:center; padding: 20px 0;}
    .sns-go li {display:inline-block; margin: 0 5px; }
    .sns-go li img {border-radius:50%;}
  </style>
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">
      <img src="/css/image.png" width="30" height="30" class="d-inline-block align-top" alt="">
      싸게싸게
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/cart" target="_blank"><strong><i class="fa fa-shopping-bag pr-1"></i>장바구니</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://goo.gl/forms/5tuB1phddJ2kCeVt2" target="_blank"><strong><i class="fa fa-question-circle pr-1"></i>문의사항</strong></a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container pt-5" id="detailApp">
    <div id="pageMessages"></div>
    
    <div v-if="item != null &amp;&amp; item.id > 0">
      <div class="row justify-content-md-center" style="padding-top:30px">
        <div class="col-12 col-md-6">
          <div class="card text-center shadow">
            <div class="card-header">안심모바일 ( SKT | LTE )
              <!-- 프로모션 기능 추가시
              
              -->
            </div>
            <div class="card-body">
              <h4 class="card-title text-info">안심 USIM 데이터 3.5</h4>
              <!-- 프로모션 기능 추가시
              <div v-if="item.promotion">
                <h5 class='d-inline-block'>월</h5><h5 class='d-inline-block pt-4' style='text-decoration:line-through'>34,650</h5><h5 class='d-inline-block'>원</션h3><h3></h3>
              </div>
              -->
              <h3 class="d-inline-block pb-4">월</h3><h1 class="d-inline-block" style="text-decoration:none">34,650</h1><h3 class="d-inline-block">원<!--션h3--></h3><h3></h3>

              <!-- 패키지 상품
              
              -->

              <!-- 기본 -->
              <div class="row justify-content-md-center pt-3 pb-3">
                
                <div class="col-4">
                  <h3><i class="fa fa-phone"></i></h3>

                  
                  <h3>기본</h3>
                  

                </div>
                

                
                <div class="col-4 border border-dark border-top-0 border-bottom-0">
                  <h3><i class="fa fa-comment"></i></h3>
                  
                  <h3>기본</h3>
                  
                </div>
                

                
                <div class="col-4" v-if="item.data">
                  <h3><i class="fa fa-signal"></i></h3>
                  <h3>3.5G</h3>
                  
                  
                </div>
                

              </div>

              

              

              

              <div class="row justify-content-md-center ">
                <div class="col-6 pt-2">
                  <a class="btn btn-outline-primary btn-block" role="button" href="tel:1800-1572"><strong>전화:1800-1572</strong></a>
                </div>
                <div class="col-6 pt-2">
                  <a class="btn btn-outline-primary btn-block" role="button" href="http://www.s1mobile.co.kr/home/plan/rateList.do?rateDv=1" target="_blank">홈페이지</a>
                </div>
                <!-- 카드 기능 일시 중지
                  <div class='col-6 pt-2'>
                    <button :class="'btn btn-block btn-outline-' + ( carts.includes( item.id * 1 ) ? 'success' : 'primary' )" @click="carting( item.id )"><i class="fa fa-shopping-cart"></i> { % carts.includes( item.id * 1 ) ? '빼기' : '담기'  % }</button>
                  </div>
                  -->
                  <div class="col-6 pt-2">
                    <a role="button" class="btn btn-outline-warning btn-block" data-toggle="modal" data-target="#reportModal" data-whatever="@mdo"><strong class="text-warning"><i class="fa fa-exclamation-triangle"></i>신고</strong></a>
                  </div>
                </div>
           </div>

          </div>
        </div>
      </div>


      <div class="row justify-content-md-center pb-5">
      </div>
    </div>
    

    

    <div class="row justify-content-md-center">
      <a id="kakao-link-btn" href="javascript:;">
      <img src="//developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png">
      </a>
    </div>
</div>


    <!-- 신고 모달 -->
    <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">상품 정보 에러 신고</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-title" class="form-control-label">상품명:</label>
                <input type="text" disabled="" class="form-control" id="recipient-title" value="안심 USIM 데이터 3.5">
              </div>

              <div class="form-group">
                <label for="recipient-email" class="form-control-label">이메일 :</label>
                <input type="text" class="form-control" id="recipient-email" v-model="errorReporter" placeholder="(선택 사항)결과를 이메일로 알려드립니다">
              </div>

              <div class="form-group">
                <label for="message-text" class="form-control-label">내용 :</label>
                <textarea class="form-control" id="message-text" v-model="errorReportMessage"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="telegram()">오류 신고</button>
          </div>
        </div>
      </div>
    </div>
  

  <script>
      feather.replace()
      $(function () {
        $('[data-toggle="popover"]').popover()
      })

  </script>

  <script type="text/javascript">
      //<![CDATA[
        Kakao.init('ab8dc8914fe5e3e488858a974fb3b893');
        Kakao.Link.createDefaultButton({
          container: '#kakao-link-btn',
          objectType: 'feed',
          content: {
            title: '싸게샵 - 안심 USIM 데이터 3.5',
            description: '#알뜰폰 #요금제 #비교 #SKT #안심모바일',
            imageUrl: 'https://ssagae.shop/preview/182.jpg',
            link: {
              mobileWebUrl: 'https://ssagae.shop/detail/182',
              webUrl: 'https://ssagae.shop/detail/182'
            }
          },
          social: {
            likeCount: 286,
            commentCount: 45,
            sharedCount: 845
          },
          buttons: [
            {
              title: '웹으로 보기',
              link: {
                mobileWebUrl: 'https://ssagae.shop/detail/182',
                webUrl: 'https://ssagae.shop/detail/182'
              }
            }
            /*
            ,{
              title: '앱으로 보기',
              link: {
                mobileWebUrl: 'https://developers.kakao.com',
                webUrl: 'https://developers.kakao.com'
              }
            }
            */
          ]
        });
      //]]>
    </script>

  
  
  <script src="/static/js/common.js"></script>
  <!--<script src="/static/js/detail.js"></script>-->
  <link src="/static/css/index.css">
  

</body></html>